  #logo {

  }

  .bgnav {
    background-color: #9386c9;
  }

  .nav-link:hover {
    color: #fff !important;
  }

  .activ a {
    color: #fff !important;
  }

  .nav-link:focus {
      color: #fff !important;
    }

  .btn-custom {
    color: white;
    background: #ad0023/*#9386c9*/;
  }
  .btn-custom:hover {
    color: white;
    background: #00ad68;
  }

  .modal-title {
    text-align: left;
  }

/* Banner */

  #banner {
  	background: #CCE8F4 url("../images/banner.jpg");
  	background-position: center center;
  	background-size: cover;
  	background-repeat: no-repeat;
  	text-align: center;
  	position: relative;
  	padding: 8em 0;
  	margin: 4em 0 0 0;
  }

  #banner .btn-default {
    color: white;
    background: red;
  }

  #banner header {
  	background-color: rgba(34, 30, 31, 0.95);
  	display: inline-block;
  	padding: 2em 3em;
  	border-radius: 5px;
  }

  #banner header h2 {
  	color: #fff;
  	font-weight: 700;
  	font-size: 2.5em;
  	margin: 0 0 0.65em 0;
  }

  #banner header h3 {
  	color: #9386c9;
  	padding-bottom: 0.5em;
  	font-style: normal;
  	margin: 0;
  	font-size: 1.5em;
  }
  #banner header p {
    /*color: #9386c9;*/
    padding: 0.5em 0;
    font-style: normal;
    margin: 0;
    font-size: 1em;
  }

/* Footer */

  footer {
      position: absolute;
      height: 45px;
      bottom: 0;
      width: 100%;
      text-align: center;
      background-color: #9386c9;
      color: white;
  }

  .copyright {
    font-size: 1rem;
  }

  .end-footer,
  .end-footer a,
  .end-footer a:hover {
    font-size: 0.8rem;
    color: #bbb;
  }

  .end-footer a,
  .end-footer a:hover{
    text-decoration: underline;
  }

  .end-footer a:hover {
    color: #000;
  }
