footer {
    position: fixed;
    height: 45px;
    bottom: 0;
    width: 100%;
    text-align: center;
    background-color: #A59ECA;
    color: white;
}
.copyright {
  font-size: 1rem;
}
p {
  font-size: 0.8rem;
}
